<template>
  <div>
    <p>Hello world! Options page</p>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style lang="scss">
@charset "utf-8";
@import "styles/styles.scss";

</style>
