<template>
  <div class="login">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field columns is-mobile is-vcentered">
      <div class="column">
        <button @click="login" class="button center-button is-success">
          Login
        </button>
      </div>
      <div class="column center-text">
        <a href="#">
          Sign up
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  },
  methods: {
    login: function() {
      // check that password and email is filled.
      // if not filled, display error in box.
      // check the vuex state if you are logged in.
      // clicking on login should change the view to a logged in view
      // alert('test');
      this.$router.push('loggedin');
    }
  }
}
</script>

<style lang="scss">
@charset "utf-8";
@import "styles/styles.scss";

.login {
  padding: 10px 10px 0px 10px;
}

</style>
