<template>
  <iframe
    :src="source" frameborder="0"
    v-show="display"
    :style="iFramePosition"
  >
    <GlobalEvents
      @keydown.foxshift="shiftDisplay"
      @mousemove="storeCoord"
      @keydown.escape.exact="turnOffDisplay"
    />
  </iframe>
</template>

<script>
import GlobalEvents from 'vue-global-events'
import { mapState } from 'vuex';

const iFrameWidth = 370;
const leftBuffer = 20;
const iFrametotalWidth = iFrameWidth + leftBuffer;

// https://stackoverflow.com/a/29903556
function findClickedWord(parentElt, x, y) {
  if (parentElt.nodeName !== '#text') {
    // 'didn\'t click on text node'
    return null;
  }
  var range = document.createRange();
  var words = parentElt.textContent.split(' ');
  var start = 0;
  var end = 0;
  for (var i = 0; i < words.length; i++) {
    var word = words[i];
    end = start + word.length;
    range.setStart(parentElt, start);
    range.setEnd(parentElt, end);
    // not getBoundingClientRect as word could wrap
    var rects = range.getClientRects();
    var clickedRect = isClickInRects(rects);
    if (clickedRect) {
      return [word, start, clickedRect];
    }
    start = end + 1;
  }

  function isClickInRects(rects) {
    for (var i = 0; i < rects.length; ++i) {
      var r = rects[i]
      if (r.left<x && r.right>x && r.top<y && r.bottom>y) {
        return r;
      }
    }
    return false;
  }
  return null;
}

function iterateClickedWords(parentEl, x, y) {
  let clickedWord = null;
  parentEl.childNodes.forEach(element => {
    let clicked = findClickedWord(element, x, y);
    if (clicked) {
      clickedWord = clicked[0];
    }
  });
  return clickedWord;
}

export default {
  components: { GlobalEvents },
  data() {
    return {
      display: false,
      frameX: 0,
      frameY: 0,
      mouseX: 0,
      mouseY: 0,
      source: chrome.extension.getURL('content/dictionary.html'),
    }
  },
  methods: {
    turnOffDisplay() {
      this.display = false;
    },
    shiftDisplay() {
      if (this.language !== 'de') {
        return // don't display the window for languages other than german
      }

      let element = document.elementFromPoint(
        this.mouseX, this.mouseY
      );

      let clicked = iterateClickedWords(
        element, this.mouseX, this.mouseY
      );
      // TODO should you be able to display box if no node is hovered
      // another box should be displayed and fade out as error.
      // you should always be able to hide the box though
      if (clicked) {
        let word = clicked;
        word = word.replace(/[.,\/"#!$%\^&\*;:{}=_`~()]/g, "");
        console.log(word);
        this.$store.commit('LOOKUP_WORD', word);
        this.frameX = this.mouseX;
        this.frameY = this.mouseY + window.scrollY;
        this.display = true;
      } else {
        this.display = false;
      }
    },
    storeCoord(event) {
      this.mouseX = event.clientX;
      this.mouseY = event.clientY;
    }
  },
  computed: {
    iFramePosition: function() {
      var viewportWidth = Math.max(
        document.documentElement.clientWidth,
        window.innerWidth || 0
      );
      let xposCorrection = 0;
      if (this.frameX + iFrametotalWidth > viewportWidth) {
        xposCorrection = this.frameX + iFrameWidth - viewportWidth + leftBuffer;
      }
      return `top: ${this.frameY + 30}px; left: ${this.frameX - xposCorrection}px;`
    },
    ...mapState(['lookupWord', 'language'])
  }
}
</script>

<style lang="scss" scoped>
iframe {
  border: 1px solid black;
  width: 370px;
  height: 200px;
  z-index: 1000;
  position: absolute;
  box-shadow: 10px 10px 50px 0px rgba(84,69,33,0.6);
}
</style>
