<template>
  <div>
    <i class="fas fa-volume-up volume"></i>
    <h1 class="entry-word">{{ entry.source }}</h1>
    <div class="topic-box">
      <span
        class="entry-topic"
        v-for="domain in entry.topic" :key="domain"
      >
        {{ domain }}
      </span>
    </div>
    <ul class="entry-translations">
      <li v-for="trans in entry.word_list" :key="trans.trans">
        <p>
          <span
            v-if="trans.gender"
            class="entry-grammar"
          >{{ trans.gender }}
          </span>
          <span
            v-if="trans.word_type"
            class="entry-grammar"
          >{{ trans.word_type }}
          </span>
          <span
            v-if="trans.abbreviation"
            class="entry-grammar"
          >{{ trans.abbreviation }}
          </span>
        </p>
        <p>{{ trans.translation }}</p>
        <p v-if="trans.context"><i>Context</i>: {{ trans.context }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    'entry': Object
  },
  data () {
    return {
      word: 'Fahren',
      domains: ['hist.', 'ecol.'],
      translations: [{
        trans: 'to ride',
        grammar: ['v'],
      },
      {
        trans: 'to drive',
        grammar: ['v']
      },
      {
        trans: 'a drive',
        grammar: ['f', 'n']
      }]
    }
  },
}
</script>

<style lang="scss">
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/grid/_all.sass";

$topicBg: rgb(71, 71, 197);

div {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

.volume {
  position: absolute;
  right: 0;
  top: 20px;
}

.entry-word {
  display: inline;
  margin-right: 3px;
  text-transform: capitalize
}

.entry-translations {
  list-style: decimal;
  padding-left: 20px;
  margin-top: 5px;

  p:first-child {
    margin-bottom: -5px;
  }

  li {
    margin-top: 8px;
  }
}

%boxshared {
  background: $topicBg;
  border-radius: 3px;
  color: findColorInvert($topicBg);
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 8px;
  padding: 3px 6px;
  position: relative;
  text-transform: capitalize;
  top: -4px;
}

%zero-left {
  margin-left: 0px;
}

.topic-box {
  padding-bottom: 5px;
}

.entry-topic {
  @extend %boxshared;
  &:first-of-type {
    @extend %zero-left
  }
}

.entry-grammar {
  @extend %boxshared;
  &:first-of-type {
    @extend %zero-left
  }
}
</style>
