<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>foxflash - content</title>
  <link rel="stylesheet" href="dictionary.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body>
  <div id="app"></div>
  <script src="dictionary.js"></script>
</body>
</html>
