<template>
  <div id="dictWindow">
    <DictionaryEntry
      v-for="entry in entries"
      v-bind:key="entry.source"
      v-bind:entry="entry"
    ></DictionaryEntry>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import DictionaryEntry from './DictionaryEntry';
import axios from 'axios';

export default {
  components: {DictionaryEntry},
  data () {
    return {
      initialization: true,
      entries: []
    }
  },
  computed: mapState(['lookupWord', 'language']),
  watch: {
    lookupWord (newVal, old) {
      // populate entries which may be an empty list
      // if it is empty would should not display any entries but some kind of
      // notice for the user.
      let vue = this
      if (this.initialization === false && this.language === 'de') {
        axios.get(`/words/${newVal}`)
          .then(function(response) {
            vue.entries = response.data
            console.log(vue.entries)
          });
      }
      console.log(this.initialization)
      this.initialization = false;
      // during query to backend we should display a spinning wheel
      console.log(`new: ${newVal}, old: ${old}`);
    }
  }
};

</script>

<style lang="scss">

#dictWindow {
  position: absolute;
  top: 0px;
  z-index: 1000;
  width: 350px;
  background-color: white;
  padding-left: 10px;
  // border: 1px solid black;
}
</style>
